body{

margin:0;

background:#0f172a;

font-family:Segoe UI;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:500px;

padding:40px;

background:#1e293b;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

h1{

font-size:40px;

}

#username{

color:#FFD54F;

}

button{

margin-top:30px;

padding:15px 30px;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

background:#FFD54F;

}
